<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>873281320144-isb95qg4mqtmljas25h7vaom7cc9a4u4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.873281320144-isb95qg4mqtmljas25h7vaom7cc9a4u4</string>
	<key>API_KEY</key>
	<string>AIzaSyCIqiCILjtvKEpHHJasutJWQ3N18KBk49Q</string>
	<key>GCM_SENDER_ID</key>
	<string>873281320144</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mrv.solutions.condoPigeon</string>
	<key>PROJECT_ID</key>
	<string>condo-pigeon</string>
	<key>STORAGE_BUCKET</key>
	<string>condo-pigeon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:873281320144:ios:2e547dddc20c3a79e85ad5</string>
</dict>
</plist>